.navbar-background{
	background: #1D1E1E;
	height: 5em;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 1.5fr 1fr 2fr;
	border-bottom: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #FAE36B, #F64853);
	z-index: 2;
}

.nav-start {
	text-align: left;
	padding-left: 6em;
}

.nav-end {
	text-align: right;
	padding-right: 1em;
}

.nav-search {
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	justify-content: left;
	height: 100%;
	text-align: left;
	white-space: nowrap;
}

.search {
	width: 100%;
}

.nav-categories {
	height: 100%;
	background: #1D1E1E;
}

#selected {
	color: #FAE36B;
	background: #272727;
	border-color: #FAE36B;
}

.nav-categories:hover, #selected:hover{
	color: #F64853;
	background: #272727;
	border-color: #F64853;
}

.nav-logo {
	position: absolute;
	left: 5px;
	top: 5px;
}

.logo {
	border-radius: 50%;
}

@media only screen and (max-width: 1130px) {
	.navbar-background{
		grid-template-columns: 3fr 4fr 1fr;
	}
	.nav-search {
		grid-template-columns: 1fr 6fr;
		align-items: center;
		justify-content: right;
		text-align: right;
	}
}

@media only screen and (max-width: 850px) {
	.navbar-background{
		grid-template-columns: 4fr 1fr 1fr;
	}
	.nav-search {
		grid-template-columns: auto;
	}
}

