#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
	justify-content: space-around;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
}

.center {
	text-align: center;
}
